**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
**/Dockerfile*
**/docker-compose*
**/*.md
**/tests
**/frontend
