# Copy to secrets.yaml and fill in real values. Do NOT commit secrets.yaml.
apiVersion: v1
kind: Secret
metadata:
  name: mini-commerce-secrets
  namespace: mini-commerce
type: Opaque
stringData:
  ConnectionStrings__OrderDB: "Server=tcp:YOUR_SQL.database.windows.net,1433;Database=OrderDB;User Id=...;Password=...;Encrypt=True;"
  ConnectionStrings__InventoryDB: "Server=tcp:YOUR_SQL.database.windows.net,1433;Database=InventoryDB;User Id=...;Password=...;Encrypt=True;"
  ConnectionStrings__NotificationDB: "Server=tcp:YOUR_SQL.database.windows.net,1433;Database=NotificationDB;User Id=...;Password=...;Encrypt=True;"
  ConnectionStrings__AuthDB: "Server=tcp:YOUR_SQL.database.windows.net,1433;Database=AuthDB;User Id=...;Password=...;Encrypt=True;"
  ConnectionStrings__CatalogDB: "Server=tcp:YOUR_SQL.database.windows.net,1433;Database=CatalogDB;User Id=...;Password=...;Encrypt=True;"
  ConnectionStrings__CartDB: "Server=tcp:YOUR_SQL.database.windows.net,1433;Database=CartDB;User Id=...;Password=...;Encrypt=True;"
  ServiceBus__ConnectionString: "Endpoint=sb://YOUR_NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=..."
  Jwt__SigningKey: "REPLACE_WITH_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS"
